<!-- SIDEBAR -->
<aside class="sidebar">
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand m-0 py-2 brand-title" href="#">Cosmo Admin</a>
      <span></span>
      <a class="navbar-brand py-2 material-icons toggle-sidebar" href="#">menu</a>
    </nav>

    <nav class="navigation" >
      <ul>
          <li class="active"><a href="index.html" title="Dashboard"><span class="nav-icon material-icons">dashboard</span> Dashboard</a></li>
      </ul>

      <label title="Member"><span>Member</span></label>
      <ul>
          <li>
            <a href="#" title="Instructors"><span class="nav-icon material-icons ">face</span> Instructors <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="member/instructor/list_inst.html" title="">Instructor list</a></li>
                <li><a href="member/instructor/add_inst.html" title="Buttons">Add Instructor</a></li>
            </ul>
          </li>
          <li class="Form Stuff">
            <a href="#" title=""><span class="nav-icon material-icons ">person</span> Students <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="member/student/list_stud.html" title="Form Styling">Student List</a></li>
                <li><a href="member/student/add_stud.html" title="Form Validation">Add Student</a></li>
            </ul>
          </li>
          <li>
            <a href="#" title="Data Grid"><span class="nav-icon material-icons ">people_alt</span> Staff <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="basic-tables.html" title="Basic Tables">Staff List</a></li>
                <li><a href="static-data-grid.html" title="Data Grid">Add Staff</a></li>
            </ul>
          </li>
        </ul>

        <label title="UI Elements & Widgets"><span>Courses</span></label>
        <ul>
          <li>
            <a href="#" title="Charts"><span class="nav-icon material-icons ">bookmarks</span> Course Category <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="basic-charts.html" title="Basic Charts">Category List</a></li>
                <li><a href="advanced-charts.html" title="Advanced Charts">Add Category</a></li>
            </ul>
          </li>
          <li>
            <a href="#" title="Google Maps"><span class="nav-icon material-icons ">class</span> Courses <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="general-maps.html" title="Maps">Course List</a></li>
                <li><a href="advanced-maps.html" title="Maps">Add Courses</a></li>
            </ul>
          </li>
          <li>
            <a href="#" title="Google Maps"><span class="nav-icon material-icons ">help</span> Exam <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="general-maps.html" title="Maps">Exam List</a></li>
                <li><a href="advanced-maps.html" title="Maps">Add Exam</a></li>
            </ul>
          </li>
          <li>
            <a href="#" title="Google Maps"><span class="nav-icon material-icons ">notes</span> Result <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="general-maps.html" title="Maps">Result List</a></li>
            </ul>
          </li>
      </ul>

      <label title="Applications and Pages"><span>Site Content</span></label>
      <ul>
          <li>
            <a href="#" title="eCommerce"><span class="nav-icon material-icons ">style</span> Tags <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="ecommerce-dashboard.html" title="Dashboard">Tags List</a></li>
                <li><a href="ecommerce-orders.html" title="Orders">Add Tags</a></li>
                
            </ul>
          </li>
          <li>
            <a href="#" title=""><span class="nav-icon material-icons ">library_books</span> Blog <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="mailbox.html" title="MailBox">Blog List</a></li>
                <li><a href="messages.html" title="Messages">Add Blog</a></li>
            </ul>
          </li>
          <li ><a href="#" title="Blogger"><span class="nav-icon material-icons">event</span> Events <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="blogger-feed-list.html" title="Feed List">Event List</a></li>
                <li><a href="blogger-post.html" title="Post">Add List</a></li>
            </ul>
          </li>
          <li ><a href="#" title="Genral Pages"><span class="nav-icon material-icons">contacts</span> Contact <span class="toogle-sub-nav material-icons">keyboard_arrow_right</span></a>
            <ul class="sub-nav">
                <li><a href="http://cosmoadmin.com/" target="_blank" title="Landing Page">Contact List</a></li> 
            </ul>
          </li>
        </ul>

      <label title="Knowlage Center"><span>Knowlage Center<span></label>
      <ul>
          <li><a target="_blank" href="https://themeforest.net/item/cosmo-bootstrap-4-responsive-admin-dashboard-template/22392885/support" title="Help & Support"><span class="nav-icon material-icons">map</span> Site Map</a></li>
          <li><a href="utilities.html" title="Utilities"><span class="nav-icon material-icons">build</span> Site System</a></li>

      </ul>
    </nav>

  </aside>