<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cosmo - Responsive Dashboard Admin Template">
    <meta name="author" content="Akshay Kumar">

    <link rel="icon" href="/images/favicon.ico">

    <!-- Messgaes CSS -->
    <link href="/css/pages/messages.css" rel="stylesheet">

    <!-- Base CSS -->
    <link rel="stylesheet" href="/css/basestyle/style.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="/css/daterangepicker/daterangepicker.css" />

    <!-- Full Calendar Icons -->
    <link href="/css/fullcalendar/fullcalendar.css" rel="stylesheet">

    <link href="/css/pages/login.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
     
    <title>{{title}}</title>

    
</head>
  <body>
    {{{body}}}
</body>
</html>